/* .product-img{
  background: linear-gradient(180deg, #5e68e053, #0462ef22 70%);
  margin: 0;
  padding: 0;
} */
.productdetail-container {
  /* background: linear-gradient(90deg, #fff, rgba(33, 131, 243, 0.133) 100%); */
  /* background: linear-gradient(90deg, #fff, rgba(2, 105, 248, 0.133) 250%); */
  background: linear-gradient(90deg, #fff, rgba(2, 76, 248, 0.133) 250%);
  margin: 0;
  padding: 0;
}